[Unit]
Description=Gymnasticon
After=bluetooth.target
Requires=bluetooth.target
StartLimitIntervalSec=0

[Service]
Type=simple
Environment=PATH=/usr/local/bin:/usr/bin:/bin
WorkingDirectory=/opt/gymnasticon
User=pi
Group=pi
ExecStart=/usr/local/bin/node /opt/gymnasticon/src/gymnasticon.js
RestartSec=1
Restart=always

AmbientCapabilities=CAP_NET_RAW CAP_NET_ADMIN
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
