[Unit]
Description=Gymnasticon
After=bluetooth-init.service bluetooth.service network.target
Requires=bluetooth-init.service bluetooth.service

[Service]
Type=simple
ExecStart=/usr/bin/node /opt/gymnasticon/dist/app/cli.js
WorkingDirectory=/opt/gymnasticon
Restart=always
RestartSec=10
User=pi
Group=pi
Environment=NODE_ENV=production
Environment=DEBUG=gym:*
Environment=NOBLE_HCI_DEVICE_ID=hci0
Environment=BLENO_HCI_DEVICE_ID=hci0
Environment=NOBLE_MULTI_ROLE=1
SyslogIdentifier=gymnasticon
AmbientCapabilities=CAP_NET_RAW CAP_NET_ADMIN
NoNewPrivileges=no

[Install]
WantedBy=multi-user.target
